	{{#if header}}
		<thead>
			<tr>
			{{#each header as |th|}}
				<th 
					data-column-id="{{th.id}}" 
					data-type="{{th.type}}"
					data-identifier="{{th.identifier}}">
					{{th.name}}
				</th>
			{{/each}}
			</tr>
		</thead>
{{/if}}
{{#if rows}}
		<tbody>
			{{#each rows as |row|}}
				{{#each-keys object=row as |key value|}}
					<td>{{value}}</td>
				{{/each-keys}}
			{{/each}}
		</tbody>
{{/if}}
{{yield}}
